apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - start-dev

          env:
            - name: KEYCLOAK_ADMIN
              value: {{ .Values.auth.adminUser | quote }}
            - name: KEYCLOAK_ADMIN_PASSWORD
              value: {{ .Values.auth.adminPassword | quote }}

            - name: KC_PROXY
              value: {{ .Values.keycloak.proxy | quote }}
            - name: KC_HOSTNAME
              value: {{ .Values.istio.host | quote }}
            - name: KC_HOSTNAME_STRICT
              value: {{ .Values.keycloak.hostnameStrict | quote }}
            - name: KC_HTTP_ENABLED
              value: {{ .Values.keycloak.httpEnabled | quote }}

          ports:
            - name: http
              containerPort: {{ .Values.service.port }}

          resources:
{{ toYaml .Values.resources | indent 12 }}

          readinessProbe:
            httpGet:
              path: /realms/master
              port: {{ .Values.service.port }}
            initialDelaySeconds: 60
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /realms/master
              port: {{ .Values.service.port }}
            initialDelaySeconds: 120
            periodSeconds: 20

{{- if .Values.extraVolumeMounts }}
          volumeMounts:
{{ toYaml .Values.extraVolumeMounts | indent 12 }}
{{- end }}

{{- if .Values.extraVolumes }}
      volumes:
{{ toYaml .Values.extraVolumes | indent 8 }}
{{- end }}
