apiVersion: v1
kind: Service
metadata:
  name: keycloak
  labels:
    app: keycloak
spec:
  type: {{ .Values.service.type }}
  selector:
    app: keycloak
  ports:
    - name: http
      port: {{ .Values.service.servicePort }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
    - name: management
      port: {{ .Values.service.managementPort }}
      targetPort: {{ .Values.service.managementPort }}
      protocol: TCP