apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: keycloak
spec:
  hosts:
    - {{ .Values.istio.host }}
  gateways:
    - {{ .Values.istio.gatewayName }}
  http:
    - match:
        - uri:
            prefix: /
      route:
        - destination:
            host: keycloak.{{ .Release.Namespace }}.svc.cluster.local
            port:
              number: {{ .Values.service.port }}
