apiVersion: v1
kind: Service
metadata:
  name: mysql-primary
  labels:
    app: mysql
    component: primary
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306
      protocol: TCP
  selector:
    app: mysql-primary