apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-platform
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/akashpulsor/infra-platform.git
    targetRevision: main
    path: charts/clusters/overlays/dev

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
