apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-tenants
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/your-org/infra-platform.git
    targetRevision: main
    path: clusters/components/tenants

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
