apiVersion: v1
kind: Service
metadata:
  name: redis-replica
  labels:
    app: redis
    component: replica
spec:
  type: ClusterIP
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
      protocol: TCP
  selector:
    app: redis-replica